<h1>Edit the Entry</h1>

<main class="form-wrapper">
  <form method="post" action="/update-entry/<%= @entry.id %>">
    <label for="entry[singer]">Singer name:</label>
    <input name="entry[singer]" type="text" value="<%= @entry.try(:singer) %>">

    <label for="entry[song_title]">Song title:</label>
    <input name="entry[song_title]" type="text" value="<%= @entry.try(:song_title) %>">

    <input type="submit" value="Update Entry" class="button">
  </form>
</main>
