<h1>Upcoming Karaoke Artists</h1>

<main>
  <ul class="entries">
    <% @entries.each do |entry| %>
      <li class="entry">
        <span class="singer"><%= entry.singer %></span>
        <span class="song-title"><%= entry.song_title %></span>
      </li>
    <% end %>
  </ul>
</main>

<section>
  <a href="/new-entry-form">Sign up to Karaoke</a>
</section>
