<h1>Sign Up to Karaoke</h1>

<main class="form-wrapper">
  <form method="post" action="create-new-post">
    <label for="entry[singer]">Singer name:</label>
    <input name="entry[singer]" type="text">

    <label for="entry[song_title]">Song title:</label>
    <input name="entry[song_title]" type="text">

    <input type="submit" value="Put me on the List!" class="button">
  </form>
</main>
