<div class="container">
  <h1>Contacts</h1>
  <% @contacts.each do |contact| %>
    <ol>
      <li><a href="/contacts/<%=contact.id %>"><%= contact.name %></a>: <%= contact.email %></li>
    </ol>
    <hr>
  <% end %>
  <a href="/contacts/new">Create Contact</a>
</div>
